<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brand Profile</title>
</head>
<body>
  <h1>Brand Profile</h1>
  <div class="profile-container">
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Role: <%= user.role %></p>
    <p>Profile Photo: <%= user.picture %></p>
    <p>Email Verified?: <%= user.email_verified %></p>
    <p>Number of Products: <%= user.numberOfProducts.join(', ') %></p>  </div>
    <p>sizeOfCompany : <%=user.sizeOfCompany.join(',') %></p>
    <p>industry : <%=user.industry.join(',') %></p>

  <h3><%= message %></h3>
  <div >
    <button onclick="window.location.href='/'">Return to Home</button>
</div>
</body>
</html>
